{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>ISTAGRAM</title>
    {% tailwind_css %}
</head>
<body class="bg-green-500 w-full">
    <div class="w-11/12 m-auto mt-10">
         <a href="/"><h1 class="text-center text-white text-2xl underline">INSTAGRAM</h1></a>

         <diV class="pt-10 w-10/12 m-auto">
            {% for i in instagram%}
                <diV class="w-44 bg-green-700 rounded mt-2">
                     <p class="text-white text-center">{{i.name}}</p>
                </diV>
                <div class="w-11/12 m-auto bg-white mt-2 rounded">
                    {% for ket,value in i.value%}
                        <ul class="pt-2 w-full w-11/12 m-auto pb-2">
                            <li class="bg-white text-center rounded w-12/12 lg:w-3/12  border-2 border-black">{{ket}}</li>
                            <li class="mt-4 mb-4 bg-green-700 rounded overflow-hidden"><p class="m-4">{{value}}</p></li>
                        </ul>
                    {% endfor %}
                </div>
            {% endfor %}
         </diV>
    </div>
</body>
</html>